/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

//Variables
$base_font_size: 18px;
$topo_ratio: 1.5;
$background_site: white;
$first_row_color: #D7D7D7;
$second_row_color: yellow;

//Functions
@function convert-px-em($s, $context:$base_font_size){
  @return ($s/$context) * 1em;
}

/* Base Styles (HTML Selectors) */
html{
  font-size: convert-px-em($base_font_size,16px); /* 18px/16px = 1.25em*/
}
h1{
  font-size: convert-px-em(36px);
}
h2{
  margin-top: convert-px-em(9px);
  font-size: convert-px-em(30px);
}
form{
  margin: convert-px-em(18px) 0;
}
table{
  font-size: convert-px-em(15px);
  margin: convert-px-em(15px) convert-px-em(3px);
}
tr{
  margin-bottom: convert-px-em(5px);
}
th{
  text-align: left;
}
td{
  background-color: $first_row_color;
}

/*Layout Styles(IDs)*/

/*Modular Styles(Classes)*/
.tagline{
  margin-left: convert-px-em(3px);
  font-size: convert-px-em(14px);
  color: blue;
}
.entry_actions{
  td{
    width: convert-px-em(150px)
  }
}
.space{
  td{
    background-color: $background_site;
    height: convert-px-em(10px);
  }
}

//TODO: find out how to alternate colors between data rows.
// tbody:nth-child(3n+1){
//   background-color: $second_row_color;
// }
/*State Styles(Media queries, JS)*/
