/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

//Variables
$base_font_size: 18px;
$topo_ratio: 1.5;
$background_site: white;
$first_row_color: #D7D7D7;
$second_row_color: yellow;
$button_color: #ADFF2F;

//Functions
@function convert-px-em($s, $context:$base_font_size){
  @return ($s/$context) * 1em;
}

/* Base Styles (HTML Selectors) */
html{
  font-size: convert-px-em($base_font_size,16px); /* 18px/16px = 1.25em*/
}
h1{
  font-size: convert-px-em(36px);
}
h2{
  margin-top: convert-px-em(15px);
  font-size: convert-px-em(25px);
  padding-bottom: convert-px-em(7px);
}
form{
  margin: convert-px-em(18px) 0;
}
table{
  font-size: convert-px-em(15px);
  margin: 0 convert-px-em(3px);
  width: 99%;
  // thead{
  //   border-bottom: thin solid;
  //   th{
  //     text-align: left;
  //   }
  // }
  tr{
    margin-bottom: convert-px-em(5px);
    td.food_name{
      font-size: convert-px-em(22px);
      width: convert-px-em(200px);
      a{
        text-decoration: none;
        color: black;
      }
    }
    td.right_align{
        text-align: right;
        padding-right: convert-px-em(10px);
        padding-top: convert-px-em(10px);
        font-size: convert-px-em(22px);
    }
  }
}

ul{
  margin:convert-px-em(5px);

  li{
    margin: convert-px-em(15px) 0;
    p{
      display: inline-block;
      float: right;
    }
    h3{
      display: inline-block;
      font-weight:700;
      text-align: left;
    }
  }
}

/*Layout Styles(IDs)*/
// #new_serving_button{
//   list-style: none;
//   border: thin solid black;
//   border-radius: convert-px-em(5px);
//   padding: convert-px-em(5px);
//   margin: convert-px-em(15px) convert-px-em(2px);
//   margin-left: convert-px-em(1000px);
//   width: convert-px-em(125px);
//   float: right;
//   background-color: $button_color;
//   a{
//     text-decoration: none;
//     color: black;
//   }
// }
#header{
  color: black;
  background-color: $button_color;
  padding: convert-px-em(15px) 0;
  text-align: center;
  border-bottom: solid thin black;
}

#footer{
  border-top: solid thin black;
  small{
    font-size: convert-px-em(12px);
    font-style: italic;
  }
}

#back_btn_new_serv{
  position: absolute;
  top: convert-px-em(199px);
  left: convert-px-em(1px);
}

#back_btn_new_food{
  position: absolute;
  top: convert-px-em(363px);
  left: convert-px-em(1px);
}

#new_serving_btn{
  position: absolute;
  top: convert-px-em(70px);
  right: convert-px-em(2px);
  a{
    padding: convert-px-em(5px);
    margin: 0;
    font-size: convert-px-em(14px);
    border-radius: 0;
  }
}

/*Modular Styles(Classes)*/
.tagline{
  margin-left: convert-px-em(3px);
  font-size: convert-px-em(14px);
  color: blue;
}
.entry_actions{
  td{
    width: convert-px-em(150px)
  }
}
.space{
  td{
    background-color: $background_site;
    height: convert-px-em(10px);
  }
}
.controls{
  li{
    a{
      text-decoration: none;
      display: inline-block;
      border: thin solid black;
      border-radius: convert-px-em(10px);
      padding: convert-px-em(10px) convert-px-em(20px);
      margin: convert-px-em(10px) convert-px-em(10px);
      background-color: $button_color;
      color: black;
    }
  }
}
.tagline{
  display: none;
}
.inputs{
  li{
    margin-bottom: convert-px-em(15px);
    input{
      width: convert-px-em(200px);
      float: right;
    }
  }
  .actions{
    input{
      font-size: convert-px-em(16px);
      border: thin solid black;
      border-radius: convert-px-em(10px);
      padding: convert-px-em(10px) convert-px-em(20px);
      margin: convert-px-em(20px) convert-px-em(10px);
      background-color: $button_color;
      color: black;
      float: none;
      width: convert-px-em(100px);
      margin-left: convert-px-em(123px);
    }
  }
}
.desktop_items{
  display: none;
}


//TODO: find out how to alternate colors between data rows.
// tbody:nth-child(3n+1){
//   background-color: $second_row_color;
// }
/*State Styles(Media queries, JS)*/
@media(min-width: convert-px-em(1000px)){
  h2{
    font-size: convert-px-em(30px);
    padding-left: convert-px-em(7px);
  }
  table{
    margin-left: convert-px-em(15px);
    margin-right: convert-px-em(15px);
  }
  .entry_actions{
    padding-bottom: convert-px-em(25px);
  }
  .desktop_items{
    display: table-cell;
    width: convert-px-em(200px);
  }
  .inputs{
    margin-left: convert-px-em(15px);
    margin-right: convert-px-em(15px);
    li{
      margin-left: 30%;
      label{
        display: inline-block;
        font-size: convert-px-em(24px);
        width: convert-px-em(200px);
      }
      input{
        font-size: convert-px-em(20px);
        float: none;
      }
    }
    .actions{
      input{
        margin-left: convert-px-em(475px);
      }
    }
  }
  #title_food_index{
    border-bottom: solid thin black;
    padding-left: convert-px-em(5px);
    padding-bottom: convert-px-em(24px);
  }
  #new_serving_btn{
    top: convert-px-em(115px);
    left: convert-px-em(10px);
  }
  #back_btn_new_serv{
    top: convert-px-em(244px);
    left: convert-px-em(700px);
  }
  #back_btn_new_food{
    top: convert-px-em(375px);
  }
  #footer{
    small{
      padding-left: convert-px-em(15px);
    }
  }
}
